<!DOCTYPE html>
<html lang="en">
<head>
  <title>Line Follower Robot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./{{.Assets}}/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./{{.Assets}}/css/loading.css"/>
  <link rel="stylesheet" type="text/css" href="./{{.Assets}}/css/loading-btn.css"/>
  <link rel="stylesheet" href="./{{.Assets}}/css/main.css">
  <script src="./{{.Assets}}/js/jquery.min.js"></script>
  <script src="./{{.Assets}}/js/popper.min.js"></script>
  <script src="./{{.Assets}}/js/bootstrap.min.js"></script>
</head>
<body>
  
  <!-- Navigation Bar Start -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Quest of the Line Follower</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>				
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/run/python">Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/run/golang">GoLang</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <!-- Navigation Bar END -->

  <div class="container">
    <img class="img-fluid" src="./{{.Assets}}/imgs/lf-1.jpg" alt="LF-1">
  </div>
  <br>
  <div class="container">
    <h2>About</h2>
    <p>Use the navbar in the upper right hand corner to select which line follower program to run.</p>
  </div>
  
</body>
</html>